.profile__subtitle {
  color: white;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .profile__subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}
