@import url(./__logo/header__logo.css);
@import url(./__logo/header__logo.css);
@import url(./__auth/header__auth.css);
@import url(./__auth-email/header__auth-email.css);
@import url(./__auth-button/header__auth-link.css);

.header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #545454;
  margin-bottom: 40px;
  padding: 45px 0 40px;
}

@media screen and (max-width: 560px) {
  .header {
    padding: 20px 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 100vw;
  }
}
